body{
	overflow-x: hidden;
}

/* Auth page CSS starts */
.auth-page{
	background:  #0fa593 ;
	height: 100%;
}

.auth-container {
	padding-top: 5%;
	width: 50%;
	margin: auto;
}
.auth{
	width: 400px;
	margin: auto;
	padding: 5%;
	border-radius: 5px;
	border: solid 1px #0000003d;
	background:   #edf5f4  ;
}
.button{
	background:  #0fa593;
	color: #fff;
} 
.login{
	padding: 1.5%;
}
/* Auth page CSS ends */

/* Home page CSS starts */
.home-page {
	background:  #0fa593 ;
}
.home-container {
	padding-top: 5%;
	padding-bottom: 5%;
	width: 80%;
	margin: auto;
}
.home-body {
	width: 850px;
	margin: auto;
	border-radius: 5px;
	border: solid 1px #0000003d;
	background:   #edf5f4  ;
}

.logout-user{
	float: right;
	margin-top: -2%;
	cursor: pointer;
}

.message-heading{
	background:   #fff  ;
	height: 50px;
	margin-bottom: 0px;
}

.message-thread {
	overflow-y: scroll;
	list-style-type: none;
	height: 400px;
	width: 100%;
	border: solid 1px #BDBDBD;
	border-radius: 5px;
	margin: 0px !important;
	padding: 5px !important;
	background-color:   #eee8e8 !important ;
}

.message-thread li {
	max-width: 300px;
	border-color: solid 0.5px rgba(0, 0, 0, 0.32);
	border-radius: 5px;
	clear: both;
	text-decoration: none;
	list-style-type: none;
	margin: 20px 10px 0px 20px;
	float: left;
	margin-right: 20px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 350px;
	border-radius: 5px;
	border:solid 1px #0000001f;
	background-color: rgba(255, 255, 255, 0.80);
	line-height: 1.4;
	word-wrap: break-word;
	color: #444444;
	text-align: left;
}

.align-left {
	float: left !important;
}

.message-text{
	margin-top: 1%;
}


.chat-list-heading {
	background: #eee8e8;
	height: 50px;
	margin-bottom: 0px;
}

.chat-list{
	overflow-y: scroll;
	height: 400px;
	width: 100%;
}

.chat-list li{
	cursor: pointer;
}
.no-margin {
	margin:0 !important;
}
.no-padding {
	padding:0 !important;
}
.header-padding {
   padding: 10px 0px 0px 10px;
   display: inline-block;
   vertical-align: middle;
}
.fa-cog {
   color: #b2adad;
   vertical-align: middle;
   padding-top: 10px;
   display: inline-block;
}
.align-right{
	float: right !important;
	padding-right: 10;
	padding-top: 15px !important;
}
.red {
	color: #c40505;
	font-size: 1em;
 }
 .yellow {
	color: #dfd006;
 }
 .green {
	color: #00b600;
 }
 .user-message{
	background:  #0fa593 !important;
	color: #fff !important;
 }
 .friend-message{
	background:  #fff !important;
	color: rgb(0, 0, 0) !important; 
 }
 .message-thread ::-webkit-scrollbar { display: none;  }
 .message-thread  { overflow: -moz-scrollbars-none; }
 .message-thread  { -ms-overflow-style: none; }
 .messageInput{
	 width:85% !important;
	 display: inline-block;
	 margin-bottom: 10px;
 }
 .grey-button{
	color: #fff !important;
	background:  #0fa593 !important;
	height: 37px;
	vertical-align: top;
 }